<div class="select-plarfom">
  <select id="providerSelect" required>
    <option value="">Platform</option>
  </select>
</div>

<div id="platformRadios"></div>

<script>
  const platformsByProvider = {
  google: [
    { name: "Google", icon: "/google.svg" },
    { name: "YouTube", icon: "/youtube.svg" },
    { name: "YouTube Music", icon: "/youtube_music.svg" },
    { name: "Firebase", icon: "/firebase.svg" },
  ],

  meta: [
    { name: "Facebook", icon: "/facebook.png" },
    { name: "Instagram", icon: "/instagram.png" },
    { name: "Meta", icon: "/meta.svg" },
  ],

  microsoft: [
    { name: "Microsoft", icon: "/microsoft.svg" },
    { name: "Azure", icon: "/azure.svg" },
    { name: "Xbox", icon: "/xbox.svg" },
    { name: "Microsoft To Do", icon: "/microsoft-todo.svg" },
  ],

  amazon: [
    { name: "AWS", icon: "/aws_light.svg" },
    { name: "Prime Video", icon: "/prime-video.svg" },
  ],

  streaming: [
    { name: "Netflix", icon: "/netflix.svg" },
    { name: "Disney+", icon: "/disneyplus.svg" },
    { name: "Apple Music", icon: "/apple-music-icon.svg" },
    { name: "Spotify", icon: "/spotify.svg" },
  ],

  desarrollo: [
    { name: "GitHub", icon: "/github_light.svg" },
    { name: "NPM", icon: "/npm.svg" },
    { name: "Figma", icon: "/figma.svg" },
    { name: "Notion", icon: "/notion.svg" },
    { name: "Obsidian", icon: "/obsidian.svg" },
  ],

  ecommerce: [
    { name: "eBay", icon: "/ebay.svg" },
    { name: "AliExpress", icon: "/aliexpress-icon.svg" },
  ],

  pagos: [
    { name: "PayPal", icon: "/paypal.svg" },
    { name: "Mercado Pago", icon: "/mercado-pago.svg" },
    { name: "Apple Pay", icon: "/apple.svg" },
    { name: "Google Pay", icon: "/google.svg" },
  ],

  otros: [
    { name: "Discord", icon: "/discord.svg" },
    { name: "Behance", icon: "/behance.png" },
    { name: "Pinterest", icon: "/pinterest.svg" },
    { name: "LinkedIn", icon: "/linkedin.svg" },
    { name: "Kick", icon: "/kick-dark.svg" },
    { name: "Airbnb", icon: "/airbnb.svg" },
    { name: "Dribble", icon: "/regate.png" },

  ],
};


  const providerSelect = document.getElementById("providerSelect");



Object.keys(platformsByProvider).forEach((provider) => {
  const option = document.createElement("option");
  option.value = provider;
  option.textContent =
    provider.charAt(0).toUpperCase() + provider.slice(1);

  providerSelect.appendChild(option);
});


  const container = document.getElementById("platformRadios");

  const defaultContent = `
    <img class="choseplatform" src="/back_save_url.png" alt="platform">
  `;

  providerSelect.addEventListener("change", () => {
    const provider = providerSelect.value;

    if (!provider) {
      container.style.backgroundImage = "url('/back_save_url.png')";
      container.innerHTML = "";
      return;
    }

    container.style.backgroundImage = "none";

    container.innerHTML = "";

    platformsByProvider[provider].forEach((platform) => {
      const label = document.createElement("label");
      label.classList.add("platform-item");

      label.innerHTML = `
        <input
          type="radio"
          name="platform"
          value="${platform.name}"
          data-icon="${platform.icon}"
        >
        <img src="/Aplications${platform.icon}" alt="${platform.name}">
        <span>${platform.name}</span>
      `;

      container.appendChild(label);
    });
  });
</script>
